/* =============================================
カラー
============================================= */
$mainColor: #ff9289;
$subColor: #ffbe7f;
$fontColor: rgb(34, 34, 34);
$accentColor: #e6373b;
$white: #ffffff;
$qrTxt: #60250b;
.accentColor {
  color: $accentColor;
}
/* =============================================
画像パス
============================================= */
$img: "../img/";
$img_page: "../../../img/";
$prefix1: "ico";
$prefix2: "obj";

/* =============================================
フォント
============================================= */
$font1: YakuHanJP, "M PLUS 1p", "ヒラギノ角ゴ Pro W3", "ヒラギノ角ゴ ProN W3",
  "游ゴシック体", "YuGothic", "メイリオ", "游ゴシック", "Yu Gothic", sans-serif;
$numFont: "Roboto Mono", monospace;

/* =============================================
フォントスタイル
============================================= */
.bold {
  font-weight: bold;
}

/* =============================================
z-index
============================================= */
$object: -10;
$background: -100;
