@charset "utf-8";
html{
    font-size: 62.5%;
    font-family: 'M PLUS 1p', sans-serif;
}
.wrap {
    height: 100vh;
    max-width: 414px;
    margin: 0 auto;
    background: #FBDFDA ;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.header{
    font-size: 1.6rem;
    color: #FFFFFF;
    padding: 30px 20px 10px 20px;
    background-color: #F4A99E;
    text-align: center;
    position: relative;
    z-index: 100;
    a{
        position: absolute;
        top: 30px;
        left: 29px;
    }
    h1{
        padding: 0 20px 0 10px;
    }
}

.circle01{
    width: 226px;
    height: 226px;
    background: #FFFFFF;
    border-radius: 50%;
    opacity: 0.06;
    position: absolute;
    top: -90px;
    left: 49px;
    z-index: 1;
}
.circle02{
    width: 93px;
    height: 93px;
    background: #FFFFFF;
    border-radius: 50%;
    opacity: 0.14;
    position: absolute;
    top: 68px;
    left: 15px;
    z-index: 1;
}
.circle03{
    width: 501px;
    height: 501px;
    background: #FFFFFF;
    border-radius: 50%;
    opacity: 0.14;
    position: absolute;
    top: 97px;
    left: 58px;
    z-index: 1;
}
.circle04{
    width: 268px;
    height: 268px;
    background: #FFFFFF;
    border-radius: 50%;
    opacity: 0.11;
    position: absolute;
    top: 406px;
    left: -34px;
    z-index: 1;
}
.circle05{
    width: 326px;
    height: 326px;
    background: #FFFFFF;
    border-radius: 50%;
    opacity: 0.08;
    position: absolute;
    top: 552px;
    left: 100px;
    z-index: 1;
}
.circle06{
    width: 40px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 50%;
    opacity: 0.41;
    position: absolute;
    top: 586px;
    left: 294px;
    z-index: 1;
}

ul{
    list-style: none;
    margin-top: 50px;
    li{
        width: 80%;
        max-width: 290px;
        font-size: 1.6rem;
        color: #60250B;
        font-weight: bold;
        background-color: azure;
        border: #60250B solid 1px;
        border-radius: 15px;
        padding: 20px 0;
        margin: 30px auto 0;
        text-align: center;
        position: relative;
        z-index: 10;
    }
}

.page-name {
    display: flex;
    justify-content: center;
}