//
// fadeIn/Out animation
//
.fade-out {
  animation: fadeout 0.4s ease forwards;
}
.fade-in {
  animation: fadein 0.4s ease forwards;
}
@keyframes fadeout {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-10px);
    opacity: 0;
  }
}
@keyframes fadein {
  0% {
    transform: translateY(-10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

//
// slideUp/Down animation
//
.slideUp {
  animation: slideUp 0.4s ease forwards;
}
.slideDown {
  animation: slideDown 0.4s ease forwards;
}
@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

//
// Animation useful style
//
.none {
  display: none;
}
.block {
  display: block;
}
.opacity05 {
  opacity: 0.5;
}

//
// Bounce animation
//
.bounce {
  animation: bounce 0.3s ease;
}
@keyframes bounce {
  0% {
    transform: scale(1.2);
  }
  20% {
    transform: scale(1);
  }
  80% {
    transform: scale(1.5);
  }
  100% {
  }
}
