.status {
  margin: 45px 0 0 0;
  transition: 0.5s ease;
  opacity: 0;
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 17px;
    margin: 0 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 15px 20px 15px;
    border: 2px solid #707070;
  }
  &__silhouette {
    img {
      margin: 0 auto;
    }
  }
  &__type {
    text-align: center;
    margin: 5px 0 0 0;
    font-weight: 500;
  }
  &__txt {
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    letter-spacing: 0.01em;
  }
  &__num {
    font-size: 1.2rem;
    font-family: $numFont;
  }
  &__meter {
    width: 100%;
    height: 5px;
    border-radius: 25px;
    background: #eaeaea;
    span {
      border-radius: 25px;
      display: block;
      height: 100%;
    }
    &--cute {
      background: #f7a0a0;
      width: 80%;
    }
    &--cool {
      background: #7ec4f0;
      width: 40%;
    }
    &--fashion {
      background: #f8c586;
      width: 0;
    }
  }
}
